{% extends 'admin/layout.njk' %}
{% block head %}
<title>Criando chef</title>
{% endblock head %}

{% block content %}
<div class="bodyChefs">
    
    
    <form class="adminChefFields" method="POST" action="/admin/chefs" enctype="multipart/form-data">
    <div class="titleChef">
        <div><p>Criando Chef</p></div>
        <button type="submit">Salvar Chef</button>
    </div>
        {% include 'admin/chefs/fields.njk' %}
    </form>

</div>
{% endblock content %}
