{% extends 'admin/layout.njk' %}
{% block head %}
<title>Editar chef</title>
{% endblock head %}

{% block content %}
<div class="bodyChefs">
    
    
    <form class="adminChefFields" method="POST" action="/admin/chefs?_method=PUT">
    <div class="titleChef">
        <div>Editar Chef</div>
        <button type="submit">Salvar Chef</button>
        
    </div>
        {% include 'admin/chefs/fields.njk' %}
         <input type="hidden" name="id" value="{{chef.id}}">
    </form>
    <form class="formDeleteChef" action="/admin/chefs?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{chef.id}}">
    
        {% if total >= 1 %}
            <p class="messageErrorDelete">Não é Possivel deletar este Chef porque ele possui receitas cadastradas!</p>
        {% else %}
            <button class="deleteChef" type="submit" id="deleteChef">Deletar Chef</button>
        {% endif %}      
                
           
    </form>
</div>
{% endblock content %}
