{% extends 'admin/layout.njk' %}
{% block head %}
<title>Editar chef</title>

{% endblock head %}

{% block content %}
<div class="bodyChefs">
    <div class="titleChefEdit">
        <div><p>Editar Chef<p></div>
        
        {% if chef.total >= 1 %}
            <p class="messageErrorDelete">Não é Possivel deletar este Chef porque ele possui receitas cadastradas!</p>
        {% else %}
            <button form="form-delete" class="deleteChef" type="submit" id="deleteChef">Deletar</button>
        {% endif %}  
        
        <button form="formUpdateChef" type="submit">Salvar Chef</button>    
    </div>
    
    <form id="formUpdateChef" class="adminChefFields" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
    
        {% include 'admin/chefs/fields.njk' %}
         <input type="hidden" name="id" value="{{chef.id}}">
    </form>
    <form class="formDeleteChef" id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{chef.id}}">      
        <input type="hidden" name="total" value="{{chef.total}}">
           
    </form>
</div>
<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Deseja deletar?")
        
        if(!confirmation) {
            event.preventDefault()
        }
    })
</script>

{% endblock content %}
