<div class="itemChef">
    <div>Nome</div>
    <input 
        type="text" 
        name="name"
        placeholder="João de Souza"
        value="{{ chef.name }}"
        >
</div>

<div class="itemChef">
    <div>Avatar</div>
    
    <div>
        {% if chef.image %}
            <div>
                <input type="text">
            </div>
        {% endif %}
       
        <div class=upload_photo_chef>
            <button class="button_send_avatar">Enviar Avatar</button>
            <input 
                name="avatar_chef"
                id="input_avatar_chef"
                type="file"
                accept="image/*"
                onchange="ImagesUpload.handleFileInput(event, 1)"
            >
                         
        </div>
        
    </div>
</div>