<div class="itemChef">
    <div>Nome</div>
    <input 
        type="text" 
        name="name"
        placeholder="João de Souza"
        value="{{ chef.name }}"
        >
</div>
<div class="itemChef">
    <div>Avatar</div>
    <div>
        <div>
            <input type="text">
        </div>
        <div>
            <input 
                type="file"
                accept="image/*"
            >
                            
        </div>
        
    </div>
</div>