<div class="itemChef">
    <div>Nome</div>
    <input 
        type="text" 
        name="name"
        placeholder="João de Souza"
        value="{{ chef.name }}"
        >
</div>
<div class="itemChef">
    <div>Avatar</div>
    <input 
        type="url"
        name="avatar_url"
        placeholder="http://w...."
        value="{{ chef.avatar_url }}"
        >
</div>