{% extends 'admin/layout.njk' %}

{% block head %}
<title>Chefs Foodfy</title>
{% endblock head %}

{% block content %}
<div class="bodyChefs">
<h1>Gerenciar chefs</h1>
<div class="listChefs">
{% for chef in chefs %}
<div class="infoChef">
    <div class="avatarChef">
        <img src="{{chef.avatar_url}}">
    </div>
    <div>
        <div class="nameChef">{{chef.name}}</div>
        <a href="/admin/chef/{{chef.id}}">Visualizar</a>
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}
