{% extends 'admin/layout.njk' %}

{% block head %}
<title>Chef {{ chef.name }}</title>
{% endblock head %}

{% block content %}

<div class="titleChef">
    <div>Chef: {{ chef.name }}</div>
    <a href="/admin/chefs/{{ chef.id }}/edit">Editar Chef</a>
</div>
<div class="presentationChef">
    <img src="{{ chef.avatar_url }}">
    <div>{{ chef.name }}</div>
    
</div>

{% endblock content %}