
<!DOCTYPE html>
<html>
    <head>
        
            <title>SOBRE</title>
            <link rel="icon" href="favicon.ico" type="image/x-icon" />
            <link rel="stylesheet" href="styles.css">
            {% block head%}
            {%endblock%}
    </head>



    <body>
            <header>
                <div class="links">
                    <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                    <a href="mailto:oi@rockerseat.com.br">Email</a>
                    <a href="tel:+5547992078767">Telefone</a>
                    <a href="/sobre">Sobre</a>
                    <a href="/conteudo">Conteúdos</a>
                </div>
            </header>
{% block content%}

{%endblock%}


        </body>
    </html>
