<!DOCTYPE html>
<html>
    <head>
       
        <link rel="stylesheet" href="/public/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      {% block head %}

      {% endblock %}
    </head>
    <body>
        <header class="headerAdmin">
            <div></div>
            <div>
            <a href="/admin" class="homebuttomAdmin"><img src="/public/images/Foodfy.png"></a>
            <a href="/admin/recipes" class="homebuttomAdmin">Receitas</a>
            <a href="/admin/chefs" class="homebuttomAdmin">Chefs</a>
            </div>
            <div></div>
        </header>
        <div class="bodyAdmin">
        <div></div>
        <div>
        {% block content%}
            
        {% endblock %}
        </div>
        <div></div>
        </div>
        <script src="/public/scripts.js"></script>
    </body>
</html>