:root{
    --primary-color: #7159c1;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0px;   
    padding: 0px;   
    border: 0px;
    
}
/*======== HEADER ==========*/
header{
    background-color: white;
    text-align: center;
    height: 60px;
}
header a{
    text-decoration: none;
  
}
.links{
    padding-top: 15px;
}
.links a{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #444;
    position: relative;
}
.links a + a {
    margin-left: 15px;
}
.links a:hover{
    color: var(--primary-color)
}
.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -3px;
}
.links a:hover::after{
    transition: width 200ms ease-in-out;
    width: 100%;
}
.links a.active{
    font-weight: bold;
    color: var(--primary-color);
}
/*======== BODY =========*/
body{
    background-color: var(--primary-color);
}

/*===== CARDS ====*/
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    height: 400px;
    background-color: white;
    margin: 15px auto;
    box-shadow: 1px 6px 12px -3px #6540b2;
    animation: up 700ms ease-out;
}
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}
.avatar{
   

}

.details{
    background-color: white;
}