:root{
    --primary-color: #7159c1;
    --secondary-color: #F7DF1E;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0px;   
    padding: 0px;   
    border: 0px;
    
}
/*======== HEADER ==========*/
header{
    background-color: white;
    text-align: center;
    height: 60px;
}
header a{
    text-decoration: none;
  
}
.links{
    padding-top: 15px;
}
.links a{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #444;
    position: relative;
}
.links a + a {
    margin-left: 15px;
}
.links a:hover{
    color: var(--primary-color)
}
.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -3px;
}
.links a:hover::after{
    transition: width 200ms ease-in-out;
    width: 100%;
}
.links a.active{
    font-weight: bold;
    color: var(--primary-color);
}
/*======== BODY =========*/
body{
    background-color: var(--primary-color);
}

/*===== CARDS ====*/
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 800px;
    height: 100%;
    background-color: white;
    margin: 15px auto;
    box-shadow: 1px 6px 12px -3px #6540b2;
    animation: up 700ms ease-out;
}
@keyframes up {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

.details{
    background-color: white;
    padding: 32px;
}
.details .item{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}
.details .item:last-child{
    border: none;
}
.details h3,
.details .item div:nth-child(1){
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
}
.details .item div:nth-child(2){
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;

}
.details h3{
    font-weight: bold;
    color: var(--primary-color);
    font-size: 25px;
    text-transform: uppercase;
}
.details .item span{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
}
/* FORM */
input{
    width: 100%;
    outline: none;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
}
input[type="radio"]{
    width: initial;
    margin-right: 5px;
}
input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 8px;
    margin-top:32px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
}
.button_edit{
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 8px;
}
/* INDEX INSTRUCTORS */
.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}
.table-container table{
    border-spacing: 0;
}
.table-container thead tr th{
    text-align: left;
}
th{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #aaa;
}
td, th{
    padding:8px;
    border-bottom: 1px solid #d8d8d8
}
tbody tr:last-child td{
    border-bottom: none;
}
tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}
tbody tr td:first-child span{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    box-shadow: 3px 1px 6px -4px;
    border: 2px solid white;
    background-position: center;
    background-size: cover;
}
.button_index{
    text-decoration: none;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 8px;
}
