*{
    margin: 0px;
}
body{
    background: #333;
}
header{
    padding: 30px;
    background: #737;
    text-align: center;
}
header div a{
    font-family: 'Roboto', cursive;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    font-size: 50px;
    text-decoration: none;
}
header div a:hover{
    font-size: 60px;
    transition: color 200ms;
    color: gray
}
#wraper{
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', cursive;
    color:white;
}
#wraper img{
    border-radius: 50%;
}
#list{
    background: #379;
    text-align: center;
    margin: 30px;
    font-family: 'Roboto', cursive;
    color: white;
    font-size: 20px;
    border-radius: 200px;
}
#redes{
    background: #379;
    text-align: center;
    margin: 30px;
   
    border-radius: 200px;
}
#redes a {
    text-decoration: none;
    font-family: 'Roboto', cursive;
    color: white;
    font-size: 20px;
    line-height: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
#redes a:hover{
    transition: color 150ms;
    color: yellowgreen;
    font-size: 30px;
}
