{% extends "site/layout.njk" %}

{% block head %}
<title>Foodfy</title>
{% endblock %}

{% block content %}
        <div class="info-home">
            
            <div class="info-home-text">
            <p class="title-info">As melhores receitas</p>
            <p class="desc-info">Aprenda a construir os melhores pratos<br> com receitas criadas por profissionais<br> do mundo inteiro</p>
            </div>
            
            <div class="info-home-image">
                <img src="/public/images/chef.png">
            </div>
       
        </div>
        
        <div class="home-most-access">
            <div class="most-access">
            <p>Mais acessadas</p>
            </div>
            <section class="cards">
        {% for item in items %}
            <div class="card" id="{{item.id}}">
            
            
            <img src="{{item.image}}" alt="{{item.id}}">
            <p class="titulo_receita">{{item.title}}</p>
            <p class="autor_receita">{{item.author}}</p>
        
           
            </div>
         {% endfor %}
    
        </section>
        </div>
{% endblock %}
