<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/public/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      {% block head %}

      {% endblock %}
    </head>
    <body>
        <div class="body">
        <div>
        </div>
        <div>
        <header>
            <div>
            <a href="/">Foodfy</a>
            <a href="/about" id="aboutbuttom">Sobre</a>
            <a href="/recipes" id="recipesbuttom">Receitas</a>
            <a href="/chefs">Chefs</a>
            </div>
            {% block header %}
            {% endblock header %}
        </header>
       
        
        {% block content%}
        {% endblock %}
        </div>
        <div></div>
        </div>
        <footer>
            <p class="footer-info">Todos os direitos reservados, receitas Foodfy</p>
        </footer>
        <script src="/public/scripts.js"></script>
    </body>
</html>