{% extends "site/layout.njk" %}
    {%block head%}
        <title>Receitas</title>
    {%endblock%}

    {% block header %}
        <form action="/recipes?filter=" method="get">
            <input 
            type="text"
            name="filter"
            placeholder="tituto, ingrediente ou chef"
            >
            <button type="submit">Filtrar</button>
            </form>
    {% endblock header %}
    
    {% block content %}
        <section class="cards">
         {% for recipe in recipes %}
                <div class="cardRecipe">
                    <a href="/recipes/{{recipe.id}}">
                        <img class="cardRecipeImage" src="{{recipe.image_url}}">
                    </a>
                    <div class="cardRecipeDescription">
                    <p>{{recipe.title}}</p>
                    <p>por {{recipe.name}}</p>
                    </div>
                    
                </div>
                <input type="hidden" name="id" value="{{chef.id}}">
            {%endfor%}
    
        </section>
    {% endblock %}