{% extends 'layout.njk' %}

{% block head %}
<title>CADASTRAR INSTRUTOR</title>
{% endblock head %}


{% block content %}

<div class="cards" method="POST" action="/instructors">
    <section 
    class="avatar" ></section>
    <section class="details">

        <h3>novo instrutor</h3>
        <div class="item">
            <div>Avatar URL</div>
            <input type="url" name="avatarurl">
        </div>
        <div class="item">
            <div>Nome</div>
            <input type="text" name="name">
        </div>
        <div class="item">
            <div>Data de nascimento</div>
            <input type="date" name="birth">
        </div>
        <div class="item">
            <div>SEXO</div>
            <span> <input type="radio" name="gender" value="M">MASCULINO</span>
            <span> <input type="radio" name="gender" value="F">FEMININO</span>

        </div>
        <div class="item">
            <div>ACOMPANHAMENTO</div>
            <div>
            <span>Musculação</span>
            <span>Crossfit</span>
            </div>
        </div>
        <div class="item">
            <div>DESDE</div>
            <div>2018</div>
        </div>

    </section>
    </div>

{% endblock content %}
