{% extends 'layout.njk' %}

{% block head %}
<title>EDITAR INSTRUTOR</title>
{% endblock head %}


{% block content %}

<form class="cards" method="POST" action="/instructors?_method=PUT">
    <section 
    class="avatar" ></section>
    <section class="details">

        <h3>editar instrutor</h3>
        
        {% include 'instructors/fields.njk' %}
        <input type="hidden" name="id" value="{{instructor.id}}">
      <button type='submit'>Salvar alteração</button>
    </section>
    </form>

{% endblock content %}
