{% extends 'layout.njk' %}

{% block head %}
<title>Instructors</title>
{% endblock head %}

{% block content %}
    <div class="cards">
    <section 
    class="avatar" 
    style="background: url(https://source.unsplash.com/collection/8353395) no-repeat center center / cover">

    </section>
    <section class="details">

        <h3>DETALHES</h3>
        <div class="item">
            <div>INSTRUTOR</div>
            <div>Guilherme Saraiva</div>
        </div>
        <div class="item">
            <div>IDADE</div>
            <div>29</div>
        </div>
        <div class="item">
            <div>SEXO</div>
            <div>Masculino</div>
        </div>
        <div class="item">
            <div>ACOMPANHAMENTO</div>
            <div>
            <span>Musculação</span>
            <span>Crossfit</span>
            </div>
        </div>
        <div class="item">
            <div>DESDE</div>
            <div>2018</div>
        </div>

    </section>
    </div>

{% endblock content %}