{% extends 'layout.njk' %}

{% block head %}
<title>Editar Professor</title>
{% endblock head %}

{% block content %}
<form class="card" method='POST' action="/teatchers">
    
    <section class="avatar"></section>

    <section class="details">
       
        <h3>Editar Professor</h3>
       
        {% include "teatchers/fields.njk" %}
       
    
    </section>

    </form>
{% endblock content %}