{% extends 'layout.njk' %}

{% block head %}
    <title>Teatchers</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teatcher in teatchers %}
                    <tr>
                        <td>
                        <span style="background-image:url({{teatcher.avatar_url}})"></span>
                        {{teatcher.name}}
                        </td>
                        <td>
                            {% for item in teatcher.area %}
                                <span>{{item}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/teatchers/{{teatcher.id}}" class="button_index">Ver</a>
                            <a href="/teatchers/{{teatcher.id}}/edit" class="button_index">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
{% endblock content %}