{% extends 'admin/layout.njk' %}

{% block head %}
<title>FoodfyAdmin Edit Recipe</title>
{% endblock head %}

{% block content%}
    <div>
        <div class="editRecipe">
            <p>Editar Receita</p>
            <button class="deleteButton" form="deleteRecipe" type="submit" >Deletar</button>
            <button class="saveEditButton" form="saveEdit" type="submit">Salvar Receita</button>
        </div>
     <form action="/admin/recipes?_method=DELETE" id="deleteRecipe" method="POST">
       
    <input type="hidden" name="id" value="{{recipe.id}}">
    </form>
    <form id="saveEdit" action="/admin/recipes?_method=PUT" method="POST">
    <input type="hidden" name="id" value="{{recipe.id}}">
        
            
            
           
            
        </div>
        <div class="showAdminContent">
            <div class="itemForm">
                <div class="itemFormTitle">Imagem da Receita</div>
                <input type="text" name="image_url" id="recipe_image" value="{{recipe.image_url}}">
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Nome da Receita</div>
                <input type="text" name="title" id="recipe_name" value="{{recipe.title}}">
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Nome do(a) Autor(a)</div>
                 <select type="text" name="chef_id" id="recipe_author">
                {% for chef in chefs %}
                <option value="{{chef.id}}" id="recipe_author" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{chef.name}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Ingredientes</div>
                <div id="ingredients">
                    <div class="ingredient">
                    {% for ingredient in recipe.ingredients %}
                        <input type="text[]" name="ingredients" value="{{ingredient}}" placeholder="Ingrediente" />
                    {%endfor%}
                    </div>
                </div>
                <button type="button" class="add-ingredient">Adicionar Ingrediente</button>
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Modo de Preparo</div>
                <div id="steps">
                    <div class="step">
                    {% for step in recipe.preparation%}
                        <input type="text[]" name="preparation" value="{{step}}" placeholder="Passo">
                    {%endfor%}
                    </div>
                </div>
                <button type="button" class="add-step">Adicionar novo passo </button>
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Informações Adicionais</div>
                <textarea cols="36" rows="5" class="recipeInfoField" type="text" name="information" id="recipe_info" value="">{{recipe.information}}</textarea>
            </div>
        </div>
    </form>

<script src="/public/scriptsAdd.js"></script>
<script>
    const formDelete = document.querySelector("#deleteRecipe")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Deseja deletar?")
        
        if(!confirmation) {
            event.preventDefault()
        }
    })
</script>
{% endblock content %}