{% extends 'admin/layout.njk' %}

{% block head %}
<title>FoodfyAdmin Edit Recipe</title>
{% endblock head %}

{% block content%}
    <div>
        <div class="editRecipe">
            <p>Editar Receita</p>
            <button class="deleteButton" form="deleteRecipe" type="submit" >Deletar</button>
            <button class="saveEditButton" form="saveEdit" type="submit">Salvar Receita</button>
        </div>
     <form action="/admin/recipes?_method=DELETE" id="deleteRecipe" method="POST">
       
    <input type="hidden" name="id" value="{{recipe.id}}">
    </form>
    <form id="saveEdit" action="/admin/recipes?_method=PUT" method="POST">
    <input type="hidden" name="id" value="{{recipe.id}}">
        
            
            
           
            
        </div>
        {% include 'admin/recipes/fields.njk' %}
    </form>

<script src="/public/scriptsAdd.js"></script>
<script>
    const formDelete = document.querySelector("#deleteRecipe")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Deseja deletar?")
        
        if(!confirmation) {
            event.preventDefault()
        }
    })
</script>
{% endblock content %}