<div class="showAdminContent">
            <div class="itemForm">
                <div class="itemFormTitle">Imagem da Receita</div>
                <input type="text" name="image_url" id="recipe_image" placeholder="http://www..........">
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Nome da Receita</div>
                <input type="text" name="title" id="recipe_name" placeholder="João da Silva">
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Chef</div>
                <select type="text" name="author" id="recipe_author">
                    <option value="">Selecione um Chef</option>
                    {% for chef in chefs %}
                        <option value="{{chef.id}}" id="recipe_author">{{chef.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Ingredientes</div>
                <div id="ingredients">
                    <div class="ingredient">
                        <input type="text[]" name="ingredients" value="" placeholder="adicione um ingrediente" >
                        <input type="hidden" name="ingredients">
                    </div>
                </div>
                <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Modo de Preparo</div>
                <div id="steps">
                    <div class="step">
                        <input type="text" name="preparation" value="" placeholder="Adicione um passo">
                        <input type="hidden" name="preparation">
                    </div>
                </div>
                <button type="button" class="add-step">Adicionar novo passo </button>
            </div>
            <div class="itemForm">
                <div class="itemFormTitle">Informações Adicionais</div>
                <textarea value="{{recipe.information}}" class="recipeInfoField" type="text" name="information" id="recipe_info" placeholder="descreva informações adicionais aqui"></textarea>
            </div>
        </div>