{% extends 'admin/recipes/layout.njk' %}

{% block head %}
<title>FoodFy Admin Panel</title>
{% endblock head %}


{% block content %}


    <h1>Gerenciar Receitas</h1>
    <a href="/admin/recipes/create">Nova Receita</a>
    <div class="cardsAdmin">
        {% for recipe in recipes %}
            <div class="cardAdmin">
                <img class="cardAdminImage" src="{{recipe.image}}">
                <div class="cardAdminDescription">
                <h2>{{recipe.title}}</h3>
                <h3>por {{recipe.author}}</h3>
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {%endfor%}
    </div>



{% endblock content %}
