{% extends 'admin/layout.njk' %}

{% block head %}
<title>FoodFy Admin Panel</title>
{% endblock head %}


{% block content %}
    <div class="bodyRecipes">
        <div class="indexRecipes">
            <p>Gerenciar Receitas</p>
            <a class="New" href="/admin/recipes/create">Nova Receita</a>
        </div>
        
        <div class="cardsAdmin">
            {% for recipe in recipes %}
                <div class="cardAdmin">
                    <img class="cardAdminImage" src="{{recipe.image_url}}">
                    <div class="cardAdminDescription">
                    <p>{{recipe.title}}</p>
                    <p>por {{chef.name}}</p>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{chef.id}}">
            {%endfor%}
        </div>
    </div>


{% endblock content %}
