<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy Admin</title>
        <link rel="stylesheet" href="/public/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      {% block head %}

      {% endblock %}
    </head>
    <body>
        <header class="headerAdmin">

            <a href="/admin" class="homebuttomAdmin">Foodfy<p>ADMIN</p></a>
            <a href="/admin" class="homebuttomAdmin">Receitas</a>
            <a href="/admin/chefs" class="homebuttomAdmin">Chefs</a>
        </header>
        <div class="bodyAdmin">
        <div></div>
        <div>
        {% block content%}
            
        {% endblock %}
        </div>
        <div></div>
        </div>
        
    </body>
</html>