{% extends 'admin/layout.njk' %}
{% block head %}
{% endblock head %}

{% block content %}

        <div class="showAdmin">
            <p>Receita: {{recipe.title}}</p>
            <a href="/admin/recipes/{{recipe.id}}/edit">Editar Receita</a>
        </div>
        <div class="showRecipeImage">
            <img class="cardRecipeImage" src="{{recipe.image_url}}">
        </div>
        <div class="showAdminContentTitle">
            <div>{{recipe.title}}</div>
            <div>por {{chef.name}}</div>
        </div>
        <div class="showAdminContent">
            <div class="showAdminIngredients">
                <div>Ingredientes</div>
                <ul>
                    {% for ingredient in recipe.ingredients%}
                        <li>-{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="showAdminSteps">
                <div>Modo de Preparo</div>
                <ul>
                    {% for step in recipe.preparation %}
                        <li>-{{step}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="showAdminInfo">
                <div>Informações adicionais</div>
                <div>{{recipe.information}}</div>
            </div>
        </div>
    </form>

{% endblock content %}