{% extends 'layout.njk' %}

{% block head %}
    <title>Teatchers</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
    <a class="button_index" href="/teatchers/create">Cadastrar Instrutor</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Acompanhamento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teatcher in teatchers %}
                <input type="hidden" name="id" value="{{teatcher.id}}">
                    <tr>
                        <td>
                        <span style="background-image:url({{teatcher.avatar_url}})"></span>
                        {{teatcher.name}}
                        </td>
                        <td>
                        
                        {% for item in teatcher.subjects_taught.split(",") %}
                            <span>{{item}}</span>
                        {% endfor %}
                        
                        </td>
                        <td>{{ teatcher.total_students }}</td>
                        <td>
                            <a href="/teatchers/{{teatcher.id}}" class="button_index">Ver</a>
                            <a href="/teatchers/{{teatcher.id}}/edit" class="button_index">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
{% endblock content %}