{% extends 'layout.njk' %}

{% block head %}
    <title>Teatchers</title>
{% endblock head %}

{% block content %}
    <div class="card">
    
    <section class="avatar"style="background: url({{ teatcher.avatar_url}}) no-repeat center center / cover">
    
    </section>
    <section class="details">
       
        <h3>professor</h3>
       
        <div class="item">
        <div>nome</div>
        <div>{{ teatcher.name }}</div>
        </div>
        <div class="item">
        <div>Sexo</div>
        <div>{{ "Masculino" if teatcher.gender == "M" else "Feminino" }}</div>
        </div>
        <div class="item">
        <div>Idade</div>
        <div>{{teatcher.age}}</div>
        </div>
        <div class="item">
        <div>formação</div>
        <div>{{teatcher.education_level}}</div>
        </div>
        <div class="item">
        <div>Tipo de aula</div>
        <div>{{ teatcher.class_type }}</div>
        </div>
        <div class="item">
        <div>acompanhamento</div>
        {% for item in teatcher.subjects_taught %}
            <span>{{item}}</span>
        {% endfor %}
        </div>
        <div class="item">
        <div>Desde</div>
        <div>{{teatcher.created_at}}</div>
        </div>

        <a href="/teatchers/{{teatcher.id}}/edit">EDITAR</a>
    </section>

    </div>

{% endblock content %}