*{
    margin: 0;
}
.body{
    
    margin-left: 230px;
    margin-right: 230px;
}
/*=======HEADER========*/
header{  
    height: 93px;
    width: 100%;
    padding-top: 30px;
    
}
header a{
    text-decoration: none;
    color: #111;
    padding: 30px;
}

.homebuttom{
    font-size: x-large;
    margin-right: 90px;
    margin-left: 230px;
  
}
.aboutbuttom{
    
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto-Regular";
}
.recipesbuttom{
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto-Regular";
}
/*=======info-home=======*/
.info-home{
    width: 100%;
    height: 366px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FBDFDB;
    border-radius: 30px;
    
}
.info-home-text{
    padding-left: 60px;
}
.title-info{
    font-size: 32px;
    font-family: "Roboto-Bold";
    line-height: 38px;
    width: 305px;
    height: 38px;
    margin-top: 117px;
    margin-bottom: 10px;
    
}
.desc-info{
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 28px;
}
.info-home-image{
    text-align: right;
    width: 216px;
    height: 300px;
    margin-top: 66px;
    position: relative;
    right: -100px;
    
}
/*======most-access=====*/
.most-access p{
    font-family: "Roboto-Regular";
    font-size: 24px;
    margin-top: 50px;
    width: 100%;
}
/*=====CARD ======*/
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;

}

.card img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
#titulo-receita{
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #111;
}

.card #autor-receita{
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 18px;
}
.sobre-info h1{
    font-family: "Roboto-Bold";
    font-size: 24px;
    line-height: 28px;
}
.sobre-info h2{
    font-family: "Roboto-Bold";
    font-size: 20px;
    line-height: 24px;
}
.sobre-info p{
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 28px;
}

/*====== PAGE Receita ========*/
.recipeimg{
    width: 100%;
    border-radius: 15px;
    height: 10%;
}
.recipetitle{
    text-align: center;
}
.recipehide{
    display: flex;
    
}
.recipeh1{
    font-family: "Roboto-Bold";
    font-size: 36px;
    color: #111;
}
.recipeauthor{
    font-family: "Roboto-Regular";
    color: #777;
    font-size: 20px;
}
.recipecontent{
    font-size: 24px;
    font-family: "Roboto-Bold";
}
.recipeshow{
    font-size: 12px;
    font-family: "Roboto-Bold";
    color: #999;
}
.recipelist1{
    display: none;
}
.recipelist1show{
    display: block;
}
.recipelist2{
    display: none;
}
.recipelist2show{
    display: block;
}
.recipelist3{
    display: none;
}
.recipelist3show{
    display: block;
}
.recipelist p{
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: #444;
    
}
/*====== FOOTER========*/
footer{
    
    height: 62px;
    width: 100%;
    background-color: #EEEE;
    text-align: center;
    margin-top: 50px;
}
footer p{
    padding-top: 23px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 16px;
    
}