<div class="item">
    <div>Nome Completo</div>
    <div class="input">
        <input
        type="text"
        name="name" 
        value="{{ user.name }}" 
        placeholder="Digite seu nome completo"
        required>
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div class="input">
        <input
        type="email"
        name="email" 
        value="{{ user.email }}" 
        placeholder="Digite seu email"
        onblur="Validate.apply(this, 'isEmail')">
    </div>
</div>
<div class="item">
    <div>Senha</div>
    <div class="input">
        <input
        type="password"
        name="password" 
        placeholder="Escolha uma senha segura">
    </div>
</div>
{% if not user.id %}
<div class="item">
    <div>Senha</div>
    <div class="input">
        <input
        type="password"
        name="passwordRepeat"
        placeholder="Repita a senha Escolhida">
    </div>
</div>
{% endif %}
<div class="item">
    <div>CPF ou CNPJ</div>
    <div class="input">
        <input
        type="text"
        name="cpf_cnpj" 
        value="{{ user.cpf_cnpj }}" 
        placeholder="Digite seu documento"
        onkeydown="Mask.apply(this, 'cpfCnpj')"
        onblur="Validate.apply(this, 'isCpfCnpj')">
    </div>
</div>
<div class="item">
    <div>CEP</div>
    <div class="input">
        <input
        type="text"
        name="cep" 
        value="{{ user.cep }}" 
        placeholder="99999-999"
        onkeydown="Mask.apply(this, 'cep')"
        onblur="Validate.apply(this, 'isCep')">
    </div>
</div>
<div class="item">
    <div>Endereço Completo</div>
    <div class="input">
        <input
        type="text"
        name="address" 
        value="{{ user.address }}" 
        placeholder="Digite seu endereço completo">
    </div>
</div>