{% extends "layout.njk" %}

{% block head %}
<title>Usuario</title>
{% endblock head %}

{% block content %}

<section class="user-dashboard container form">
    <form method="POST" action="/users?_method=PUT" enctype="multipart/form-data">
    <input type="hidden" name="id" value={{user.id}}>
        <div class="header">
            <h3>Detalhes</h3>
        </div>

        <div class="fields">
            {% include "user/fields.njk" %}
        </div>
        <button class="button edit" type="submit">Atualizar</button>
    </form>
    <form id="form-delete" method="POST" action="/users?_method=DELETE">
      <input type="hidden" name="id" value={{user.id}}>
      <button class="button delete" type="submit">Deletar</button>
    </form>
</section>

<script>
  const formDelete = document.querySelector("#form-delete")
  formDelete.addEventListener("submit", function(event) {
    const confirmation = confirm("Tem Certeza que deseja excluir sua conta?")
    if(!confirmation) {
      event.preventDefault()
    }
  })
</script>


{% endblock content %}