<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      {% block head %}

      {% endblock %}
    </head>
    <body>
        <header>
            <a href="/" class="homebuttom">Foodfy</a>
            <a href="/sobre" class="menubuttom" id="aboutbuttom">Sobre</a>
            <a href="/receitas" class="menubuttom" id="recipesbuttom">Receitas</a>
        </header>
        
        {% block content%}

        {% endblock %}

        <footer>
            <p class="footer-info">Todos os direitos reservados, receitas Foodfy</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>