<!DOCTYPE html>
<html>
    <head>
        
        {% include "parts/styles.njk" %}
        {% block head %}

        {% endblock %}
    </head>
    <body>

        {% include "parts/messages.njk"%}

        {% include "parts/header.njk" %}

        {% block content %}{% endblock %}

        {% include "parts/footer.njk" %}

    </body>
</html>