
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.body{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}
/*=======HEADER========*/
header{  
    height: 93px;
    width: 100%;
    padding-top: 30px;
    
}
header a{
    text-decoration: none;
    color: #111;
    padding: 30px;
}

.homebuttom{
    font-size: x-large;
    margin-right: 90px;
    margin-left: 230px;
  
}
.aboutbuttom{
    
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto-Regular";
}
.recipesbuttom{
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto-Regular";
}
/*=======info-home=======*/
.info-home{
    width: 100%;
    height: 366px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FBDFDB;
    border-radius: 30px;
    
}
.info-home-text{
    padding-left: 60px;
}
.title-info{
    font-size: 32px;
    font-family: "Roboto-Bold";
    line-height: 38px;
    width: 305px;
    height: 38px;
    margin-top: 117px;
    margin-bottom: 10px;
    
}
.desc-info{
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 28px;
}
.info-home-image{
    text-align: right;
    width: 216px;
    height: 300px;
    margin-top: 66px;
    position: relative;
    right: -100px;
    
}
/*======most-access=====*/
.most-access p{
    font-family: "Roboto-Regular";
    font-size: 24px;
    margin-top: 50px;
    width: 100%;
}
/*=====CARD ======*/
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;

}

.card img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
#titulo-receita{
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #111;
}

.card #autor-receita{
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 18px;
}
.sobre-info h1{
    font-family: "Roboto-Bold";
    font-size: 24px;
    line-height: 28px;
}
.sobre-info h2{
    font-family: "Roboto-Bold";
    font-size: 20px;
    line-height: 24px;
}
.sobre-info p{
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 28px;
}

/*====== PAGE Receita ========*/
.recipeimg{
    width: 100%;
    border-radius: 15px;
    height: 10%;
}
.recipetitle{
    text-align: center;
}
.recipehide{
    display: flex;
    
}
.recipeh1{
    font-family: "Roboto-Bold";
    font-size: 36px;
    color: #111;
}
.recipeauthor{
    font-family: "Roboto-Regular";
    color: #777;
    font-size: 20px;
}
.recipecontent{
    font-size: 24px;
    font-family: "Roboto-Bold";
}
.recipeshow1{
    font-size: 12px;
    font-family: "Roboto-Bold";
    color: #999;
    
}
.recipeshow2{
    font-size: 12px;
    font-family: "Roboto-Bold";
    color: #999;
}
.recipeshow3{
    font-size: 12px;
    font-family: "Roboto-Bold";
    color: #999;
}
.recipelist1{
    display: none;
}
.recipelist1show{
    display: block;
}
.recipelist2{
    display: none;
}
.recipelist2show{
    display: block;
}
.recipelist3{
    display: none;
}
.recipelist3show{
    display: block;
}
.recipelist p{
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: #444;
    
}
/*====== FOOTER========*/
footer{
    
    height: 62px;
    width: 100%;
    background-color: #EEEE;
    text-align: center;
    margin-top: 50px;
}
footer p{
    padding-top: 23px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 16px;
    
}


/*    ADMIN       */
/*           HEADER ADMIN          */
.bodyAdmin{
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}
.bodyAdmin h1{
    color: #111;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
}

header.headerAdmin {

    height: 80px;
    width: 100%;
    padding-top: 0;
    background-color: #111;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    box-sizing: border-box;
}
header.headerAdmin a{
    text-decoration: none;
    color: #999;
    padding: 30px;

}
.headerAdmin a.active {
    color: white;
}
.homebuttomAdmin{
    font-size: 15px;
    font-family: "Roboto";
    font-weight: bold;
  
  
}

.cardsAdmin{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cardAdmin{
    display: flex;
    padding: 16px;
}
.cardAdminImage{
    width: 200px;
    height: 80px;
    border-radius: 16px;
}
.cardAdminDescription h2 {
    font-family: "Roboto", sans-serif;
    
    font-size: 18px;
    color: #111111;
}
.cardAdminDescription h3 {
    font-family: "Roboto", sans-serif;
    
    font-size: 14px;
    color: #777;
}
.showAdmin{
    display: grid;
    grid-template-columns: 8fr 2fr;
    padding: 16px;
}
.itemForm{
    padding: 16px;
}
.itemFormTitle{
    font-family: "Roboto";
    font-size: 16px;
}
.itemForm input{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-size: 24px;
}
.itemForm button{
    color: #6558C3;
}
.itemForm textarea.recipeInfoField{
    height: 250px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    font-size: 24px;
}
.showAdminImage img{
    width: 100%;
    position: relative;
    padding: 16px 0;
    border-radius: 15px;
}
.showAdminContentTitle {
    text-align: center;
}
.showAdminContentTitle div:nth-child(1){
    font-size: 36px;
    font-family: "Roboto";
    font-weight: bold;
    color: #111;
}
.showAdminContentTitle div:nth-child(2){
    font-size: 20px;
    font-family: "Roboto";
    color: #777;
}
.showAdminSteps div,
.showAdminIngredients div {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    color: #111;
    padding: 16px 0;
}
.showAdminSteps li,
.showAdminIngredients li{
    list-style-type: none;
    font-size: 18px;
    font-family: "Roboto";
    color: #444;
    line-height: 28px;
   
}
.showAdminInfo div:nth-child(1) {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    color: #111;
    padding: 16px 0;
}
.showAdminInfo div:nth-child(2) {
    font-size: 18px;
    font-family: "Roboto";
    color: #444;
    line-height: 28px;
    
}
.showAdmin button[type=submit] {
    background-color: #6558C3;
    color: white;
    border-radius: 8px;
}
.showAdmin a {
    background-color: #6558C3;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

/* CHEFS */
.bodyChefs h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.listChefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.infoChef {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.avatarChef img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding-right: 10px
}
.nameChef {
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto';
}
.titleChef {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
}
.titleChef button[type="submit"]{
    background: #6558C3;
    border-radius: 4px;
    border-radius: 4px; 
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px;
}
.itemChef div{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 30px;

}
.itemChef input {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    
}
