{% extends "layout.njk" %}
{% block content%}
        <div id="wraper">
            <h1>Aulas</h1>
        </div>
        <section class="video">
        
            <div class="card" id="{{item.id}}">
                <div class="card_video_container">
                    <iframe src="https://www.youtube.com/embed/{{item.id}}"></iframe>
                    
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p> 
                </div>
                
            </div> 
        

        </section>
     
{% endblock %}