{% extends 'layout.njk' %}

{% block head %}
<title>Members</title>
{% endblock head %}

{% block content %}
    <div class="cards">
    <section 
    class="avatar" 
    style="background: url({{member.avatar_url}}) no-repeat center center / cover">

    </section>
    <section class="details">

        <h3>DETALHES</h3>
        <div class="item">
            <div>INSTRUTOR</div>
            <div>{{member.name}}</div>
        </div>
        <div class="item">
            <div>IDADE</div>
            <div>{{member.age}}</div>
        </div>
        <div class="item">
            <div>SEXO</div>
            <div>{{"Masculino" if member.gender == "M" else "Feminino"}}</div>
        </div>
        <div class="item">
            <div>Email</div>
            <div>{{member.email}}</div>
        </div>
        <div class="item">
            <div>Peso</div>
            <div>{{member.weight}}</div>    
        </div>
        <div class="item">
            <div>Altura</div>
            <div>{{member.height}}</div>    
        </div>
        <div class="item">
            <div>Aluno de</div>
            <div>{{ member.instructor_name }}</div>
        </div>
        <a href='/members/{{ member.id }}/edit' class="button_edit">EDITAR</a>
    </section>
    </div>

{% endblock content %}