{% extends 'layout.njk' %}

{% block head %}
<title>Cadastrar Professor</title>
{% endblock head %}

{% block content %}
<form class="card" method='POST' action="/students">
    
    <section class="avatar"></section>

    <section class="details">
       
        <h3>Novo Professor</h3>
       
        {% include "students/fields.njk" %}
        <button type="submit">Salvar</button>
    </section>

    </form>
{% endblock content %}