{% extends "layout.njk" %}

{% block head %}

{% endblock %}

{%block content%}
    
        <div id="wraper">
            <a href="desafio2-1.html"><img src="rocketseatlogo.jpg" alt="rockerseat"></a>
            <h1>Rocketseat</h1>
            <h2>Mais do que uma plataforma de educação em tecnologia, uma comunidade incrível de programadores em busca do próximo nível</h2>
        </div>
        <div id="list">
            <p>Principais Tecnologias Utilizadas Pela Rocketseat</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <ul>
                <li>NodeJS</li>
                <li>ReactJS</li>
                <li>ReactNative</li>
            </ul>
        </div>
        <div id="redes">
            <a href="https://www.facebook.com/rocketseat">facebook</a>
            <a href="https://www.instagram.com/rocketseat_oficial/">instagram</a>
            <a href="https://github.com/Rocketseat">github</a>
        </div>
   {%endblock%}
