{% extends 'layout.njk' %}

{%block head%}
    <title>Receita de {{recipe.title}}</title>
{%endblock%}

{% block content %}
<div class="body">
<div class='receita'id='{{recipe.id}}'>
<img class="recipeimg" src="{{recipe.image}}">

<div class="recipetitle">
<p class="recipeh1">{{recipe.title}}</p>
<p class="recipeauthor">por {{recipe.author}}</p>
</div>
<div>

<div class="recipehide">
<p class="recipecontent">Ingredientes</p>
<div></div>
<p class="recipeshow1">MOSTRAR</p>

</div>
<div class="recipelist">
<div class="recipelist1">
<p>{{recipe.ingredients}}</p>
</div>
</div>
<div class="recipehide">
<p class="recipecontent">Modo de Preparo</p>
<div></div>
<p class="recipeshow2">MOSTRAR</p>
</div>
<div class="recipelist">
<div class="recipelist2">
<p>{{recipe.preparation}}</p>
</div>
</div>

<div class="recipehide">
<p class="recipecontent">Informacões adicionais</p>
<div></div>
<p class="recipeshow3">MOSTRAR</p>
</div>
<div class="recipelist3">
<p>{{recipe.information}}</p>

</div>
</div>

</div>

</div>
{% endblock %}

