<!DOCTYPE html>
<html>
    <head>
        <title>Matheus Luvison</title>
        
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">LUVYTEK</a>
                <a href="/classes">Aulas</a>
            </div>
        </header>
        {% block content %}

        {% endblock %}


    </body>
</html>