<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy Admin</title>
        <link rel="stylesheet" href="/public/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      {% block head %}

      {% endblock %}
    </head>
    <body>
        <header class="headerAdmin">
            <a href="/admin" class="homebuttomAdmin">Foodfy</a>
            <p>ADMIN</p>
        </header>
        
        {% block content%}

        {% endblock %}

        
        <script src="/public/scripts.js"></script>
    </body>
</html>